<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laptop.demo.mapper.AdviceMapper">

    <select id="getDetails" resultType="Detail">
        select channel_3,detail details
        from science
        <where>
            channel_1=#{channel}
        </where>
          order by id;
    </select>

</mapper>