<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laptop.demo.mapper.LaptopMapper">

    <select id="getRecommended" resultType="Laptop">
        select id,name,type,price,releaseTime,cpu,gpu,memorySize,memoryGen,memoryRate,ssd as storage,screenSize,
               resolution,refreshRate,gamut,duration,usb,typec,thunderbolt,video,rj45,thickness,weight,pictures
        from laptop_unify
        <where>
--             id &lt;=4
               releaseTime &gt;=1551369600
               and
               id &gt;=((select max(id) from laptop_unify)-(select min(id) from laptop_unify))*RAND()+(select min(id) from laptop_unify)
        </where> limit 12
    </select>

</mapper>