<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laptop.demo.mapper.LaptopMapper">

    <select id="getRecommended" resultType="Laptop" parameterType="ChooseParam">
        select *
        from laptop_view
        <where>
            storage >= #{storage} and memorySize >= #{mem} and duration >= #{durationOn}
            <if test="gpulevel == 1">
                and gpuMark &gt; 1100
            </if>
            <if test="gpulevel == 2">
                and gpuMark &gt; 2900
            </if>
            <if test="gpulevel == 3">
                and gpuMark &gt; 3400
            </if>
            <if test="gpulevel == 4">
                and gpuMark &gt; 5000
            </if>
            <if test="gpulevel == 5">
                and gpuMark &gt; 7000
            </if>
            <if test="gpulevel &gt; 1">
                and multiMark &gt; 1180
            </if>
            <if test="weightOn == 1">
                and weight &lt; 1.6 and thickness &lt; 19
            </if>
            <if test="weightOn == 2">
                and weight &lt; 2.4 and thickness &lt; 24
            </if>
            <if test="portOn == 1">
                and usb &gt;= 3 and typec &gt;= 1
            </if>
            <if test="colorOn == 1">
                and gamut &gt; 70
            </if>
            and price &gt;= #{pricemin} and price &lt;= #{pricemax}
            and releaseTime &gt;=1551369600
            and
            id &gt;=((select max(id) from laptop_view)-(select min(id) from laptop_view))*RAND()+(select min(id) from
            laptop_view)
        </where>
        limit 12
    </select>

    <select id="getRecommended2" resultType="Laptop">
        select id,name,type,price,releaseTime,cpu,cores,threads,cpuClock,cpuTurbo,singleMark,multiMark,cpuOutdated,gpu,gpuMark,gpuOutdated,
        memorySize,memoryGen,memoryRate,storage,screenSize,
        resolution,refreshRate,gamut,duration,usb,typec,thunderbolt,video,rj45,thickness,weight,pictures
        from laptop_view
        <where>
            -- id &lt;=4
            releaseTime &gt;=1551369600
            and
            id &gt;=((select max(id) from laptop_view)-(select min(id) from laptop_view))*RAND()+(select min(id) from
            laptop_view)
        </where>
        limit 12
    </select>

</mapper>