<!doctype html>
<html lang="ZXX" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DMX - Digital Marketing Agency Html5 Template</title>
    <meta name="description"
          content="Digital Marketer is a modern and beautiful HTML5 multipage agency template for the creative and professional marketer person or company. This template contains 10 different page layout with awesome design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/img/favicon.png}">
    <link rel="stylesheet" th:href="@{assets/css/bootstrap-4.2.1.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.theme.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/fontawesome-all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/css/meanmenu.css}">
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{assets/css/responsive.css}">

</head>
<body>

<!-- ===================================================
    Loading Transition
==================================================== -->
<div id="loader-wrapper">
    <div id="loader">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<!-- Header Section -->
<header id="home">

    <div class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="main-menu">
                        <!-- Logo Area -->
                        <div class="logo-area">
                            <a th:href="@{/}" class="main-logo"><img th:src="@{assets/img/main-logo.png}"
                                                                     alt="main-logo.png"></a>
                            <a th:href="@{/}" class="logo-sticky d-none"><img th:src="@{assets/img/sticky-logo.png}"
                                                                              alt="sticky-logo.png"></a>
                        </div>

                        <!-- Main Menu Area -->
                        <div class="menu-area" id="mobile-menu">
                            <ul>
                                <!-- dropdown menu-area-->
                                <li><a th:href="@{/}">主页</a></li>
                                <li><a th:href="@{/common_science}">配置科普</a></li>
                                <li><a th:href="@{/pick-and-choose}">选机推荐</a></li>
                                <li><a th:href="@{/recommend}">使用建议</a></li>
                                <li><a th:href="@{/contact-us}">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu-->
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- header banner Section -->
<section>
    <div class="blog-header-image-area d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-9 m-auto">

                    <!-- Item -->
                    <div class="item">

                        <div class="others-page-title text-center">
                            <h1>Blog Details</h1>

                            <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam
                                aliquid aspernatur assumenda beatae delectus,provident quia quod quos reprehenderit
                                ullam voluptatum.</p>

                        </div>

                    </div>
                    <!-- // Item -->

                </div>

            </div>
        </div>
    </div>
</section>

<!-- single-blog-area start -->
<div id="single-blog" class="single-blog-area">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <!-- single-blog-content -->
                <div class="single-blog-details">
                    <h1 class="post-title">Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
                    <p class="post-date">Posted on July 29, 2019</p>
                    <div class="post-long-desc">
                        <!-- single-blog-image -->
                        <div class="blog-img pb-3">
                            <img th:src="@{assets/img/blog/blog-details.jpg}" alt="blog">
                        </div>
                        <!-- single-blog-test -->
                        <p id="detail"></p><br><br>
                    </div>
                    <!-- single-blog-comment -->
                    <div class="comments-area">
                        <h6 class="title">选购建议</h6>
                        <ul class="comments-list">
                            <li class="single-comment">
                                <div class="comment-box">
                                    <div class="comment-info">
                                        <blockquote id="advice">
                                            <ul>
                                                <li th:each="advice : ${science['选购建议']}" >
                                                    <i class="fa fa-circle"></i>
                                                    <span th:text="${advice}"></span>
                                                </li>
                                            </ul>
                                        </blockquote>
                                    </div>
                                </div>
                            </li><!-- /.single-comment -->
                        </ul>
                    </div>
                    <div class="about-author fix">
                        <h6 class="title">作者</h6>
                        <!-- author-image -->
                        <div class="author-img">
                            <img th:src="@{assets/img/testimonial-01.jpg}" alt="Author Image" width="100">
                        </div>
                        <div class="author-info">
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>

                </div><!-- /.single-blog-details -->
            </div>
            <!-- sidebar-area start -->
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="sidebar-area">

                    <div class="single-sidebar-widget">
                        <h6 class="widget-title">about me</h6>
                        <div class="sidebar-content">
                            <div class="my-photo">
                                <img src="assets/img/testimonial-01.jpg" alt="author" width="96">

                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cumque dolores eius
                                hic laborum natus nisi odit placeat reiciendis.</p>
                        </div><!-- /.sidebar-content -->
                    </div><!-- /.single-sidebar-widget -->


                    <div class="single-sidebar-widget">
                        <h6 class="widget-title">categories</h6>
                        <div class="sidebar-content">
                            <div class="categories-list">
                                <ul>
                                    <li><a href=""><span
                                            class="category">Design</span><span class="number">5</span></a></li>
                                    <li><a href=""><span
                                            class="category">Design</span><span class="number">5</span></a></li>
                                    <li><a href=""><span
                                            class="category">Design</span><span class="number">5</span></a></li>
                                </ul>
                            </div>
                        </div><!-- /.sidebar-content -->
                    </div>
                    <div class="single-sidebar-widget">
                        <h6 class="widget-title">Popular Posts</h6>
                        <div class="sidebar-content">
                            <!--<div class="right-box-content mt-10 mb-10">-->
                            <a href="" class="popular-post d-flex align-items-center">
                                <div class="popular-post-img mr-20">
                                    <img src="assets/img/blog/blog-1.jpg" alt="blog-1.jpg">
                                    <div class="full-cover bg-green-op-8 transition-4">
                                        <i class="fas fa-external-link-alt transform-center"></i>
                                    </div>
                                </div>
                                <div class="popular-post-text">
                                    <p class="pb-1-">Lorem ipsum dolor sit amet, consecte..</p>
                                    <span>June 25, 2019</span>
                                </div>
                            </a>
                            <a href="" class="popular-post d-flex align-items-center">
                                <div class="popular-post-img mr-20">
                                    <img src="assets/img/blog/blog-1.jpg" alt="blog-1.jpg">
                                    <div class="full-cover bg-green-op-8 transition-4">
                                        <i class="fas fa-external-link-alt transform-center"></i>
                                    </div>
                                </div>
                                <div class="popular-post-text">
                                    <p class="pb-1-">Lorem ipsum dolor sit amet, consecte..</p>
                                    <span>June 25, 2019</span>
                                </div>
                            </a>
                            <a href="" class="popular-post d-flex align-items-center">
                                <div class="popular-post-img mr-20">
                                    <img src="assets/img/blog/blog-1.jpg" alt="blog-1.jpg">
                                    <div class="full-cover bg-green-op-8 transition-4">
                                        <i class="fas fa-external-link-alt transform-center"></i>
                                    </div>
                                </div>
                                <div class="popular-post-text">
                                    <p class="pb-1-">Lorem ipsum dolor sit amet, consecte..</p>
                                    <span>June 25, 2019</span>
                                </div>
                            </a>
                        </div>
                        <!--</div>-->
                        <!-- /.sidebar-content -->
                    </div>
                    <!-- /.single-sidebar-widget -->
                    <div class="single-sidebar-widget">
                        <h6 class="widget-title">archive</h6>
                        <div class="sidebar-content">
                            <div class="archive-list">
                                <ul>
                                    <li><a href="#"><span class="month">march</span><span class="number">(98)</span></a>
                                    </li>
                                    <li><a href="#"><span class="month">january</span><span
                                            class="number">(80)</span></a></li>
                                    <li><a href="#"><span class="month">february</span><span class="number">(60)</span></a>
                                    </li>
                                    <li><a href="#"><span class="month">december</span><span class="number">(40)</span></a>
                                    </li>
                                    <li><a href="#"><span class="month">october</span><span
                                            class="number">(10)</span></a></li>
                                </ul>
                            </div>
                        </div><!-- /.sidebar-content -->
                    </div><!-- /.single-sidebar-widget -->
                    <div class="single-sidebar-widget">
                        <h6 class="widget-title">tags cloud</h6>
                        <div class="sidebar-content">
                            <div class="tags-list">
                                <ul>
                                    <li><a href=""><i class="fas fa-tag"></i>Marketing</a></li>
                                    <li><a href=""><i class="fas fa-tag"></i>ppc</a></li>
                                    <li><a href=""><i class="fas fa-tag"></i>Design</a></li>
                                    <li><a href=""><i class="fas fa-tag"></i>Development</a></li>
                                    <li><a href=""><i class="fas fa-tag"></i>App Devlopment</a></li>
                                </ul>


                            </div>
                        </div><!-- /.sidebar-content -->
                    </div><!-- /.single-sidebar-widget -->
                </div><!-- /.sidebar-area -->
            </div>
            <!-- sidebar-area end -->
        </div>
    </div>
</div>
<!-- single-blog-area end -->

<!-- footer bottom -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <!-- Copyright -->
                <div class="social-icon float-left">
                    <ul>

                        <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>


                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <!-- Copyright -->
                <div class="copyright float-right float-mob-left">
                    <p>© 2019 All Right Reserved By <a href="https://www.jq22.com/">jq22</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS here -->

<script th:src="@{assets/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/owl.carousel.min.js}"></script>
<script th:src="@{assets/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{assets/js/waypoints.min.js}"></script>
<script th:src="@{assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{assets/js/main.js}"></script>

<script th:src="@{marked/marked.min.js}"></script>
<script th:inline="javascript">
    $(function () {
        var content = [[${science["介绍"][0]}]];
        var html = marked(content); //初始化转换器
        $("#detail").html(html)//添加到 div 中 显示出来
    })

</script>

</body>
</html>

