<!doctype html>
<html lang="ZXX" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DMX - Digital Marketing Agency Html5 Template</title>
    <meta name="description" content="Digital Marketer is a modern and beautiful HTML5 multipage agency template for the creative and professional marketer person or company. This template contains 10 different page layout with awesome design.">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/img/favicon.png}">
    <link rel="stylesheet" th:href="@{assets/css/bootstrap-4.2.1.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.theme.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/fontawesome-all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/css/meanmenu.css}">
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{assets/css/responsive.css}">
    <link rel="stylesheet" th:href="@{assets/css/science/splitting.css}">
    <link rel="stylesheet" th:href="@{assets/css/science/style.css}">

</head>
<body>
<!-- ===================================================
    Loading Transition
==================================================== -->
<div id="loader-wrapper">
    <div id="loader">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<!-- Header Section -->
<header id="home">

    <div class="main-navigation" >
        <div class="container" >
            <div class="row">
                <div class="col-xl-12">
                    <div class="main-menu">
                        <!-- Logo Area -->
                        <div class="logo-area">
                            <a th:href="@{/}" class="main-logo"><img th:src="@{assets/img/main-logo.png}"
                                                                     alt="main-logo.png"></a>
                            <a th:href="@{/}" class="logo-sticky d-none"><img th:src="@{assets/img/sticky-logo.png}"
                                                                              alt="sticky-logo.png"></a>
                        </div>

                        <!-- Main Menu Area -->
                        <div class="menu-area" id="mobile-menu">
                            <ul>
                                <!-- dropdown menu-area-->
                                <li><a th:href="@{/}">主页</a></li>
                                <li><a th:href="@{/common_science}">配置科普</a></li>
                                <li><a th:href="@{/pick}">选机推荐</a></li>
                                <li><a th:href="@{/advices}">使用建议</a></li>
                                <li><a th:href="@{/contact-us}">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu-->
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- header banner Section -->
<section>
    <div class="service-header-image-area d-flex align-items-center">
        <div class="container" >
            <div class="row">
                <div class="col-md-9 m-auto">

                    <!-- Item -->
                    <div class="item">

                        <div class="others-page-title text-center">
                            <h1>笔&emsp;记&emsp;本&emsp;小&emsp;科&emsp;普</h1>

                            <p class="pt-3">将从CPU、显卡、内存、硬盘等方面为您做一个入门级科普，点击对应图片即可查看科普内容。</p>
                        </div>

                    </div>
                    <!-- // Item -->

                </div>

            </div>
        </div>
    </div>
</section>


<!--common_science-->
<div id="app" data-current-planet="mercury" class="body" style="--active:3;">
    <nav class="planet-nav">
        <svg viewBox="0 20 400 400" xmlns="http://www.w3.org/2000/svg">
            <path
                    id="navPath"
                    d="M10,200 C30,-28 370,-28 390,200"
                    fill="none"/>
            <text>
                <textPath href="#navPath" startOffset="0" font-size="8">
                    <tspan>接口</tspan>
                    <tspan>内存</tspan>
                    <tspan>显卡</tspan>
                    <tspan>概览</tspan>
                    <tspan>CPU</tspan>
                    <tspan>硬盘</tspan>
                    <tspan>屏幕</tspan>
                    <tspan>品牌</tspan>
                </textPath>
            </text>

        </svg>
    </nav>

    <div class="planet" data-planet="interface">
        <div class="planet-title">
            <h1 class="h1">接口</h1>
        </div>

        <figure class="planet-figure">
            <a href="#" target="_blank"><img th:src="@{assets/img/science/interface.png}" style="z-index: 100"/></a>
        </figure>
    </div>

    <div class="planet" data-planet="memory">
        <div class="planet-title">
            <h1 class="h1">内存条</h1>
        </div>

        <figure class="planet-figure">
            <a href="#" target="_blank"><img th:src="@{assets/img/science/memory.png}" style="z-index: 100"/></a>
        </figure>
    </div>

    <div class="planet" data-planet="gpu">
        <div class="planet-title">
            <h1 class="h1">显卡</h1>
        </div>


        <figure class="planet-figure">
            <a th:href="@{/}" target="_blank"><img th:src="@{assets/img/science/gpu.png}" style="z-index: 100"/></a>
        </figure>
    </div>

    <div class="planet" data-planet="mercury" data-active >
        <div class="planet-title">
            <h1 class="h1">内部概览</h1>
        </div>

        <figure class="planet-figure">
            <img th:src="@{assets/img/science/overview.png}"/>
        </figure>
    </div>

    <div class="planet" data-planet="cpu">
        <div class="planet-title">
            <h1 class="h1">CPU</h1>
        </div>

        <figure class="planet-figure">
            <a th:href="@{/}" target="_blank"><img th:src="@{assets/img/science/cpu.png}" alt="cpu" style="z-index: 100"/></a>
        </figure>
    </div>

    <div class="planet" data-planet="storage">
        <div class="planet-title">
            <h1 class="h1">硬盘</h1>
        </div>

        <figure class="planet-figure">
            <a href="#" target="_blank"><img th:src="@{assets/img/science/ssd.png}" style="z-index: 100"/></a>
        </figure>
    </div>

    <div class="planet" data-planet="screen">
        <div class="planet-title">
            <h1 class="h1">屏幕</h1>
        </div>

        <figure class="planet-figure">
            <a href="#" target="_blank"><img th:src="@{assets/img/science/screen.png}" style="z-index: 100"/></a>
        </figure>
    </div>

    <div class="planet" data-planet="brand">
        <div class="planet-title">
            <h1 class="h1">品牌</h1>
        </div>

        <figure class="planet-figure">
            <a th:href="@{brand}" target="_blank"><img th:src="@{assets/img/science/brand.png}" style="z-index: 100"/></a>
        </figure>
    </div>

</div>
<!-- footer bottom -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <!-- Copyright -->
                <div class="social-icon float-left">
                    <ul>

                        <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>


                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <!-- Copyright -->
                <div class="copyright float-right float-mob-left">
                    <p>© 2019 All Right Reserved By <a href="https://www.jq22.com/">jq22</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS here -->
<script th:src="@{assets/js/science/splitting.min.js}"></script>
<script th:src="@{assets/js/science/script.js}"></script>
<script th:src="@{assets/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/owl.carousel.min.js}"></script>
<script th:src="@{assets/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{assets/js/waypoints.min.js}"></script>
<script th:src="@{assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>

