<!DOCTYPE html>
<html lang="ZXX" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>一本满足-推荐产品</title>
    <meta name="description"
          content="Digital Marketer is a modern and beautiful HTML5 multipage agency template for the creative and professional marketer person or company. This template contains 10 different page layout with awesome design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/img/favicon.png}">
    <link rel="stylesheet" th:href="@{assets/css/bootstrap-4.2.1.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.theme.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/fontawesome-all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/css/meanmenu.css}">
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{assets/css/responsive.css}">


    <!--滑动列表-->
    <link rel="stylesheet" type="text/css" th:href="@{charts/css/normalize.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{charts/css/demo.css}" />

    <!--必要样式-->
    <link rel="stylesheet" type="text/css" th:href="@{charts/css/component.css}" />
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<!-- ===================================================
    Loading Transition
==================================================== -->
<div id="loader-wrapper">
    <div id="loader">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<!-- Header Section -->
<header id="home">

    <div class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="main-menu">
                        <!-- Logo Area -->
                        <div class="logo-area">
                            <a th:href="@{/}" class="main-logo"><img th:src="@{assets/img/main-logo.png}"
                                                                     alt="main-logo.png"></a>
                            <a th:href="@{/}" class="logo-sticky d-none"><img th:src="@{assets/img/sticky-logo.png}"
                                                                              alt="sticky-logo.png"></a>
                        </div>

                        <!-- Main Menu Area -->
                        <div class="menu-area" id="mobile-menu">
                            <ul>
                                <!-- dropdown menu-area-->
                                <li><a th:href="@{/}">主页</a></li>
                                <li><a th:href="@{/common_science}">配置科普</a></li>
                                <li><a th:href="@{/pick}">选机推荐</a></li>
                                <li><a th:href="@{/advices}">使用建议</a></li>
                                <li><a th:href="@{/contact-us}">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu-->
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>

</header>


<!-- header banner Section -->
<section>
    <div class="about-us-header-image-area d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-9 m-auto">

                    <!-- Item -->
                    <div class="item">

                        <div class="others-page-title text-center">
                            <h1>产&emsp;品&emsp;对&emsp;比</h1>

                            <p class="pt-3">下面是您喜欢的商品的对比结果哦</p>
                            <p class="pt-3">如果不满意还可以重新选择心爱的商品哦</p>

                        </div>

                    </div>
                    <!-- // Item -->

                </div>

            </div>
        </div>
    </div>
</section>

<!--产品对比-->
<div class="container">



    <div class="component">
        <table>
            <thead>
            <tr>
                <th>对比参数</th>
                <th>产品一</th>
                <th>产品二</th>
            </tr>
            </thead>
            <tbody>
            <tr><td class="user-name">gary coleman</td><td class="user-email">gary.coleman21@example.com</td><td class="user-phone">(398)-332-5385</td></tr>
            <tr><td class="user-name">rose parker</td><td class="user-email">rose.parker16@example.com</td><td class="user-phone">(293)-873-2247</td></tr>
            <tr><td class="user-name">chloe nelson</td><td class="user-email">chloe.nelson18@example.com</td><td class="user-phone">(957)-213-3499</td></tr>
            <tr><td class="user-name">eric bell</td><td class="user-email">eric.bell16@example.com</td><td class="user-phone">(897)-762-9782</td></tr>
            <tr><td class="user-name">douglas hayes</td><td class="user-email">douglas.hayes92@example.com</td><td class="user-phone">(231)-391-6269</td></tr>
            <tr><td class="user-name">cameron brown</td><td class="user-email">cameron.brown32@example.com</td><td class="user-phone">(204)-488-5204</td></tr>
            <tr><td class="user-name">nevaeh diaz</td><td class="user-email">nevaeh.diaz99@example.com</td><td class="user-phone">(436)-578-2946</td></tr>
            <tr><td class="user-name">kathy miller</td><td class="user-email">kathy.miller62@example.com</td><td class="user-phone">(724)-705-3555</td></tr>
            <tr><td class="user-name">susan king</td><td class="user-email">susan.king88@example.com</td><td class="user-phone">(774)-205-7754</td></tr>
            <tr><td class="user-name">jeffery ramirez</td><td class="user-email">jeffery.ramirez83@example.com</td><td class="user-phone">(723)-243-7706</td></tr>
            <tr><td class="user-name">gary coleman</td><td class="user-email">gary.coleman21@example.com</td><td class="user-phone">(398)-332-5385</td></tr>
            <tr><td class="user-name">rose parker</td><td class="user-email">rose.parker16@example.com</td><td class="user-phone">(293)-873-2247</td></tr>
            <tr><td class="user-name">chloe nelson</td><td class="user-email">chloe.nelson18@example.com</td><td class="user-phone">(957)-213-3499</td></tr>
            <tr><td class="user-name">eric bell</td><td class="user-email">eric.bell16@example.com</td><td class="user-phone">(897)-762-9782</td></tr>
            <tr><td class="user-name">douglas hayes</td><td class="user-email">douglas.hayes92@example.com</td><td class="user-phone">(231)-391-6269</td></tr>
            <tr><td class="user-name">cameron brown</td><td class="user-email">cameron.brown32@example.com</td><td class="user-phone">(204)-488-5204</td></tr>
            <tr><td class="user-name">nevaeh diaz</td><td class="user-email">nevaeh.diaz99@example.com</td><td class="user-phone">(436)-578-2946</td></tr>
            <tr><td class="user-name">kathy miller</td><td class="user-email">kathy.miller62@example.com</td><td class="user-phone">(724)-705-3555</td></tr>
            <tr><td class="user-name">susan king</td><td class="user-email">susan.king88@example.com</td><td class="user-phone">(774)-205-7754</td></tr>
            <tr><td class="user-name">jeffery ramirez</td><td class="user-email">jeffery.ramirez83@example.com</td><td class="user-phone">(723)-243-7706</td></tr>
            <tr><td class="user-name">gary coleman</td><td class="user-email">gary.coleman21@example.com</td><td class="user-phone">(398)-332-5385</td></tr>
            <tr><td class="user-name">rose parker</td><td class="user-email">rose.parker16@example.com</td><td class="user-phone">(293)-873-2247</td></tr>
            <tr><td class="user-name">chloe nelson</td><td class="user-email">chloe.nelson18@example.com</td><td class="user-phone">(957)-213-3499</td></tr>
            <tr><td class="user-name">eric bell</td><td class="user-email">eric.bell16@example.com</td><td class="user-phone">(897)-762-9782</td></tr>
            <tr><td class="user-name">douglas hayes</td><td class="user-email">douglas.hayes92@example.com</td><td class="user-phone">(231)-391-6269</td></tr>
            <tr><td class="user-name">cameron brown</td><td class="user-email">cameron.brown32@example.com</td><td class="user-phone">(204)-488-5204</td></tr>
            <tr><td class="user-name">nevaeh diaz</td><td class="user-email">nevaeh.diaz99@example.com</td><td class="user-phone">(436)-578-2946</td></tr>
            <tr><td class="user-name">kathy miller</td><td class="user-email">kathy.miller62@example.com</td><td class="user-phone">(724)-705-3555</td></tr>
            <tr><td class="user-name">susan king</td><td class="user-email">susan.king88@example.com</td><td class="user-phone">(774)-205-7754</td></tr>
            <tr><td class="user-name">jeffery ramirez</td><td class="user-email">jeffery.ramirez83@example.com</td><td class="user-phone">(723)-243-7706</td></tr>
            </tbody>
        </table>
    </div>

</div><!-- /container -->



<!-- footer bottom -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <!-- Copyright -->
                <div class="social-icon float-left">
                    <ul>

                        <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>


                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <!-- Copyright -->
                <div class="copyright float-right float-mob-left">
                    <p>© 2019 All Right Reserved By <a href="https://www.jq22.com/">jq22</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS here -->

<script th:src="@{assets/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/owl.carousel.min.js}"></script>
<script th:src="@{assets/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{assets/js/waypoints.min.js}"></script>
<script th:src="@{assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{assets/js/main.js}"></script>

<script th:src="@{charts/js/jquery.min.js}"></script>
<script th:src="@{charts/js/jquery.ba-throttle-debounce.min.js}"></script>
<script th:src="@{charts/js/jquery.stickyheader.js}"></script>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">

</div>

</body>
</html>

