<!doctype html>
<html lang="ZXX" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DMX - Digital Marketing Agency Html5 Template</title>
    <meta name="description" content="Digital Marketer is a modern and beautiful HTML5 multipage agency template for the creative and professional marketer person or company. This template contains 10 different page layout with awesome design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/img/favicon.png}">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.theme.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/fontawesome-all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/css/meanmenu.css}">
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{assets/css/responsive.css}">


</head>
<body>

<!-- ===================================================
    Loading Transition
==================================================== -->
<div id="loader-wrapper">
    <div id="loader">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<!-- Header Section -->
<header id="home">

    <div class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="main-menu">
                        <!-- Logo Area -->
                        <div class="logo-area">
                            <a href="index.html" class="main-logo"><img src="assets/img/main-logo.png" alt="main-logo.png"></a>
                            <a href="index.html" class="logo-sticky d-none"><img src="assets/img/sticky-logo.png" alt="sticky-logo.png"></a>
                        </div>

                        <!-- Main Menu Area -->
                        <div class="menu-area" id="mobile-menu">
                            <ul>
                                <!-- dropdown menu-area-->
                                <li><a href="#">home <i class="fas fa-angle-down"></i></a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="index-2.html">Home Two</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">about</a></li>
                                <li><a href="project-list.html">Project</a></li>
                                <!-- dropdown menu-area-->
                                <li><a href="#">Pages <i class="fas fa-angle-down"></i></a>
                                    <ul class="dropdown">
                                        <li><a th:href="@{project-list.html">Project List</a></li>
                                        <li><a th:href="@{project-details.html">Project Details</a></li>
                                        <li><a th:href="@{service-list.html">Service List</a></li>
                                        <li><a th:href="@{service-details.html">Service Details</a></li>
                                        <li><a th:href="@{blog.html">Blog</a></li>
                                        <li><a th:href="@{blog-details.html">Blog Details</a></li>
                                        <li><a th:href="@{404.html">404 page</a></li>
                                    </ul>
                                </li>
                                <li><a th:href="@{service-list.html">services</a></li>
                                <li><a th:href="@{index.html#Expertise">Expertise</a></li>
                                <li><a th:href="@{blog.html">blog</a></li>
                                <li><a th:href="@{contact-us.html">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu-->
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- Get a Quote Modal -->
<div class="modal animated bounceInUp" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="header-form">

                    <form action="#" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Name</label>
                                <input type="text" class="form-control" name="name" id="inputEmail4" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Company Name</label>
                                <input type="text" class="form-control" name="cname" id="inputPassword4"
                                       placeholder="Company Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Email</label>
                            <input type="email" class="form-control" name="mail" id="inputAddress"
                                   placeholder="Email Address">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Select a Service</label>
                                <select class="form-control" name="service_list">

                                    <option selected>Select Service</option>

                                    <option value="">Design Service</option>
                                    <option value="">Design Service</option>
                                    <option value="">Design Service</option>

                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Website</label>
                                <input type="text" name="website" class="form-control" placeholder="Website">
                            </div>


                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Amount</label>
                                <input type="text" class="form-control" name="amount" placeholder="Amount">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Start date</label>
                                <input type="date" class="form-control" name="qdate">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Phn No.</label>
                                <select class="form-control" name="region">


                                    <option value="+88">BD</option>
                                    <option value="+88">USA</option>
                                    <option value="+88">UK</option>

                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label class="pt-3"></label>

                                <input type="text" name="phn" class="form-control" placeholder="201-555-0123">
                            </div>


                        </div>
                        <!-- Submit Button-->
                        <div class="submit-button">
                            <button type="submit" class="site-btn-submit" name="sub">GET A FREE QUOTE</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- header banner Section -->
<section>
    <div class="contact-header-image-area d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-9 m-auto">

                    <!-- Item -->
                    <div class="item">

                        <div class="others-page-title text-center">
                            <h1>Contact Us</h1>

                            <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam
                                aliquid aspernatur assumenda beatae delectus,provident quia quod quos reprehenderit
                                ullam voluptatum.</p>

                        </div>

                    </div>
                    <!-- // Item -->

                </div>

            </div>
        </div>
    </div>
</section>

<!-- Contact Us Section -->
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="contact-form-area">
                    <div class="contact-header-form">
                        <!-- Contact form start -->
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Name</label>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Company Name</label>
                                    <input type="text" class="form-control" placeholder="Company Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Email</label>
                                <input type="email" class="form-control" placeholder="Email Address">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Select a Service</label>
                                    <select class="form-control">
                                        <option selected>Select Service</option>

                                        <option value="">Design Service</option>
                                        <option value="">Design Service</option>
                                        <option value="">Design Service</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Website</label>
                                    <input type="text" class="form-control" placeholder="Website">
                                </div>


                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Amount</label>
                                    <input type="text" class="form-control" name="amount" placeholder="Amount">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Start date</label>
                                    <input type="date" class="form-control" name="date">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>Phn No.</label>
                                    <select class="form-control">

                                        <option value="+88">BD</option>
                                        <option value="+88">USA</option>
                                        <option value="+88">UK</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-9">
                                    <label class="pt-3"></label>

                                    <input type="text" class="form-control" name="phone" placeholder="201-555-0123">
                                </div>


                            </div>
                            <!-- submit button -->
                            <div class="submit-button">
                                <button type="submit" class="contact-submit">Contact Us</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 sm-pt-25">
                <!-- Contact us content -->
                <div class="content">
                    <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
                    <p class="pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores debitis doloremque nisi nulla omnis quibusdam reiciendis reprehenderit similique tempora ut. Aliquam animi atque blanditiis corporis culpa deleniti dignissimos distinctio est, et excepturi fugit hic illo libero maiores molestiae nisi obcaecati odit porro possimus quae quo recusandae repudiandae suscipit tempore vel! Asperiores aspernatur commodi consequatur corporis culpa dignissimos dolorem doloribus eaque magnam mollitia, nulla quaerat quisquam quod, quos repellat reprehenderit sint suscipit tempora.</p>

                </div>

                <!-- Contact us icon content -->
                <div class="icon-section">
                    <div>
                        <div class="icon-area">
                            <i class="fas fa-map-marker-alt"></i>
                            <h4>LOACTION</h4>
                            <p class="pt-2 text">111 East<br>
                                Wacker Drive<br>
                                Chicago, Illinois, 60601
                            </p>

                        </div>
                    </div>
                    <div>
                        <div class="icon-area">
                            <i class="fas fa-phone-volume"></i>
                            <h4>PHONE NUMBER</h4>
                            <p class="pt-2 text">+1-800-569-2754</p>

                        </div>
                    </div>
                    <div>
                        <div class="icon-area">
                            <i class="far fa-envelope"></i>
                            <h4>EMAIL US</h4>
                            <p class="pt-2 text">
                                Support Requests:<br>
                                support@demosite.com
                            </p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!-- Google Map Section -->


    <div class="contact-form-area">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe id="gmap_canvas"
                        src="https://ditu.google.cn/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                <a th:href="@{#">digital marketer</a></div>

        </div>
    </div>



<!-- Newsletter Section -->
<section class="newsletter-area">
    <div class="container">
        <!-- newsletter heading area-->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <div class="head-text">
                        <h3>Newsletter</h3>
                        <h1>Get Latest News From Us</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="subcribe-form text-center">


                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                              class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">

                                <div class="mc-field-group subcribe-form">
                                    <input autocomplete="off" placeholder="Enter Your Email" value="" name="EMAIL"
                                           class="required email" id="mce-EMAIL" type="email">
                                    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                            class="button"><i class="fas fa-paper-plane"></i></button>
                                </div>

                                <div class="newsletter-input" aria-hidden="true">
                                    <input type="text" name="b_a3d53fa043a54881bf71f9a96_dc0358f8ce" tabindex="-1"
                                           value="">
                                </div>
                                <div class="clear"></div>


                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->
                </div>

                <p class="text-center pt-4 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquid, cupiditate deserunt dolore error excepturi harum maxime molestiae nihil officia omnis pariatur rem, sed suscipit velit vero voluptate.
                </p>

            </div>
        </div>

    </div>
</section>

<!-- Footer Section -->
<footer class="footer-area">

    <!-- footer bottom -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 margin-bottom-r">
                    <!-- Footer Logo -->
                    <div class="company-logo text-center">
                        <a href="index.html"><img src="assets/img/main-logo.png" alt="main-logo.png"></a>
                    </div>
                </div>

            </div>


            <div class="row second-footer">
                <!-- Footer content area -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 sm-mb">

                    <h4 class="mb-4">United States</h4>
                    <ul>
                        <li>
                            <a href="#">111 East</a>
                        </li>
                        <li>
                            <a href="#">Wacker Drive</a>
                        </li>
                        <li>
                            <a href="#">Chicago, Illinois, 60601</a>
                        </li>
                        <li>
                            <a href="#">us@digitalmarketingagency.com</a>
                        </li>
                    </ul>



                </div>
                <!-- Footer content area -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 sm-mb">

                    <h4 class="mb-4">United Kingdom</h4>
                    <ul>
                        <li>
                            <a href="#">111 East</a>
                        </li>
                        <li>
                            <a href="#">Wacker Drive</a>
                        </li>
                        <li>
                            <a href="#">Chicago, Illinois, 60601</a>
                        </li>
                        <li>
                            <a href="#">us@digitalmarketingagency.com</a>
                        </li>
                    </ul>

                </div>
                <!-- Footer content area -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">

                    <h4 class="mb-4">Germany</h4>
                     <ul>
                        <li>
                            <a href="#">111 East</a>
                        </li>
                        <li>
                            <a href="#">Wacker Drive</a>
                        </li>
                        <li>
                            <a href="#">Chicago, Illinois, 60601</a>
                        </li>
                        <li>
                            <a href="#">us@digitalmarketingagency.com</a>
                        </li>
                    </ul>

                </div>
                <!-- Footer content area -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">

                    <h4 class="mb-4">London</h4>
                    <ul>
                        <li>
                            <a href="#">111 East</a>
                        </li>
                        <li>
                            <a href="#">Wacker Drive</a>
                        </li>
                        <li>
                            <a href="#">Chicago, Illinois, 60601</a>
                        </li>
                        <li>
                            <a href="#">us@digitalmarketingagency.com</a>
                        </li>
                    </ul>

                </div>


            </div>

        </div>
    </div>

</footer>

<!-- footer bottom -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <!-- Copyright -->
                <div class="social-icon float-left">
                    <ul>

                        <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>


                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <!-- Copyright -->
                <div class="copyright float-right float-mob-left">
                    <p>© 2019 All Right Reserved By <a href="https://www.jq22.com/">jq22</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS here -->

<script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/owl.carousel.min.js}"></script>
<script th:src="@{assets/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{assets/js/waypoints.min.js}"></script>
<script th:src="@{assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>



