<!doctype html>
<html lang="ZXX" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>一本满足-联系我们</title>
    <meta name="description" content="Digital Marketer is a modern and beautiful HTML5 multipage agency template for the creative and professional marketer person or company. This template contains 10 different page layout with awesome design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/img/favicon.png}">
    <link rel="stylesheet" th:href="@{assets/css/bootstrap-4.2.1.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.theme.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/fontawesome-all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/css/meanmenu.css}">
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{assets/css/responsive.css}">


</head>
<body>

<!-- ===================================================
    Loading Transition
==================================================== -->
<div id="loader-wrapper">
    <div id="loader">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<!-- Header Section -->
<header id="home">

    <div class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="main-menu">
                        <!-- Logo Area -->
                        <div class="logo-area">
                            <a th:href="@{/}" class="main-logo"><img th:src="@{assets/img/main-logo.png}"
                                                                     alt="main-logo.png"></a>
                            <a th:href="@{/}" class="logo-sticky d-none"><img th:src="@{assets/img/sticky-logo.png}"
                                                                              alt="sticky-logo.png"></a>
                        </div>

                        <!-- Main Menu Area -->
                        <div class="menu-area" id="mobile-menu">
                            <ul>
                                <!-- dropdown menu-area-->
                                <li><a th:href="@{/}">主页</a></li>
                                <li><a th:href="@{/common_science}">配置科普</a></li>
                                <li><a th:href="@{/pick}">选机推荐</a></li>
                                <li><a th:href="@{/advices}">使用建议</a></li>
                                <li><a ></a></li>
</ul>
                        </div>
                    </div>
                    <!-- mobile menu-->
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- Get a Quote Modal -->
<div class="modal animated bounceInUp" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="header-form">

                    <form action="#" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Name</label>
                                <input type="text" class="form-control" name="name" id="inputEmail4" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Company Name</label>
                                <input type="text" class="form-control" name="cname" id="inputPassword4"
                                       placeholder="Company Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Email</label>
                            <input type="email" class="form-control" name="mail" id="inputAddress"
                                   placeholder="Email Address">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Select a Service</label>
                                <select class="form-control" name="service_list">

                                    <option selected>Select Service</option>

                                    <option value="">Design Service</option>
                                    <option value="">Design Service</option>
                                    <option value="">Design Service</option>

                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Website</label>
                                <input type="text" name="website" class="form-control" placeholder="Website">
                            </div>


                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Amount</label>
                                <input type="text" class="form-control" name="amount" placeholder="Amount">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Start date</label>
                                <input type="date" class="form-control" name="qdate">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Phn No.</label>
                                <select class="form-control" name="region">


                                    <option value="+88">BD</option>
                                    <option value="+88">USA</option>
                                    <option value="+88">UK</option>

                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label class="pt-3"></label>

                                <input type="text" name="phn" class="form-control" placeholder="201-555-0123">
                            </div>


                        </div>
                        <!-- Submit Button-->
                        <div class="submit-button">
                            <button type="submit" class="site-btn-submit" name="sub">GET A FREE QUOTE</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- header banner Section -->
<section>
    <div class="contact-header-image-area d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-9 m-auto">

                    <!-- Item -->
                    <div class="item">

                        <div class="others-page-title text-center">
                            <h1>联系我们</h1>

                            <p class="pt-3">如果您在使用本网站时有任何问题或者建议可以填写以下信息发邮件给我们。</p>

                        </div>

                    </div>
                    <!-- // Item -->

                </div>

            </div>
        </div>
    </div>
</section>

<!-- Contact Us Section -->
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="contact-form-area">
                    <div class="contact-header-form">
                        <!-- Contact form start -->
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">姓名</label>
                                    <input type="text" class="form-control" placeholder="姓名">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>问题/建议</label>
                                    <select class="form-control">
                                        <option selected>提问题</option>

                                        <option value="">提建议</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="inputAddress">电子邮箱</label>
                                <input type="email" class="form-control" placeholder="电子邮箱">
                            </div>
                            <div class="form-row">

                            </div>
                            <div class="form-row">
                                    <label>详细内容</label>
                                    <input type="text" class="form-control" name="amount" placeholder="详细描述">

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label>电话号码</label>
                                    <select class="form-control">

                                        <option value="+88">BD</option>
                                        <option value="+88">USA</option>
                                        <option value="+88">UK</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-9">
                                    <label class="pt-3"></label>

                                    <input type="text" class="form-control" name="phone" placeholder="201-555-0123">
                                </div>
                            </div>
                            <!-- submit button -->
                            <div class="submit-button">
                                <button type="submit" class="contact-submit">联系我们</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 sm-pt-25">
                <!-- Contact us content -->
                <div class="content">
                    <h1>联系我们</h1>
                    <p class="pt-5" style="text-indent: 2em;">我们的产品初衷就是帮助那些不太懂电脑但是又想买一个性价比高的笔记本电脑的用户，让他们
                    少掉一些电脑城推销员的坑，少受一些广告的蒙蔽。我们致力于给您的生活带来更多的便利，所以我们是非常高兴
                        收到您的批评或者建议或者点赞，并且会慎重考虑每一个人的意见，希望我们能共同成长。</p>

                </div>

                <!-- Contact us icon content -->
                <div class="icon-section">
                    <div>
                        <div class="icon-area">
                            <i class="fas fa-map-marker-alt"></i>
                            <h4>地址</h4>
                            <p class="pt-2 text">中国 <br>
                                上海市 杨浦区<br>
                                国定路777号
                            </p>

                        </div>
                    </div>
                    <div>
                        <div class="icon-area">
                            <i class="fas fa-phone-volume"></i>
                            <h4>联系电话</h4>
                            <p class="pt-2 text">+1-800-569-2754</p>

                        </div>
                    </div>
                    <div>
                        <div class="icon-area">
                            <i class="far fa-envelope"></i>
                            <h4>电子邮箱</h4>
                            <p class="pt-2 text">
                                Support Requests:<br>
                                support@demosite.com
                            </p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!-- footer bottom -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <!-- Copyright -->
                <div class="social-icon float-left">
                    <ul>

                        <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>


                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <!-- Copyright -->
                <div class="copyright float-right float-mob-left">
                    <p>© 2019 All Right Reserved By <a href="https://www.jq22.com/">jq22</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS here -->

<script th:src="@{assets/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/owl.carousel.min.js}"></script>
<script th:src="@{assets/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{assets/js/waypoints.min.js}"></script>
<script th:src="@{assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>



