<!doctype html>
<html lang="ZXX" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>一本满足-主页</title>
    <meta name="description"
          content="Digital Marketer is a modern and beautiful HTML5 multipage agency template for the creative and professional marketer person or company. This template contains 10 different page layout with awesome design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/img/favicon.png}">
    <link rel="stylesheet" th:href="@{assets/css/bootstrap-4.2.1.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.theme.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/fontawesome-all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/css/meanmenu.css}">
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{assets/css/responsive.css}">
</head>
<body>

<!-- ===================================================
    Loading Transition
==================================================== -->
<div id="loader-wrapper">
    <div id="loader">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<!-- Header Section -->
<header id="home">

    <div class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="main-menu">
                        <!-- Logo Area -->
                        <div class="logo-area">
                            <a th:href="@{/}" class="main-logo"><img th:src="@{assets/img/main-logo.png}"
                                                                     alt="main-logo.png"></a>
                            <a th:href="@{/}" class="logo-sticky d-none"><img th:src="@{assets/img/sticky-logo.png}"
                                                                              alt="sticky-logo.png"></a>
                        </div>

                        <!-- Main Menu Area -->
                        <div class="menu-area" id="mobile-menu">
                            <ul>
                                <!-- dropdown menu-area-->
                                <li><a th:href="@{/}">主页</a></li>
                                <li><a th:href="@{/common_science}">配置科普</a></li>
                                <li><a th:href="@{/pick-and-choose}">选机推荐</a></li>
                                <li><a th:href="@{/recommend}">使用建议</a></li>
                                <li><a th:href="@{/contact-us}">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu-->
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- header banner Section -->
<section>
    <!-- Hero Slider Area -->
    <div class="slider-area">
        <div class="slider-on owl-carousel">
            <div class="single-slider">
                <!-- Slider Image -->
                <div class="slider-img">
                    <img th:src="@{assets/img/header.jpg}" alt="header.jpg">
                </div>
                <div class="slider-text text-center">
                    <span class="welcome">不知道如何选购 <strong>笔记本电脑</strong> ？</span>
                    <h2>为您<span> 定制化地 </span>推荐适合您的<span> 笔记本电脑 </span></h2>
                    <p>提出您的需求，我们给您推荐最适合您的几款笔记本电脑
                        <br class="br"> 根据您的偏好，您可以自由选择您最喜欢的一款。</p>
                </div>
            </div>

            <div class="single-slider">
                <!-- Slider Image -->
                <div class="slider-img">
                    <img th:src="@{assets/img/header-2.jpg}" alt="header2.jpg">
                </div>
                <div class="slider-text text-center">
                    <span class="welcome">不了解 <strong>笔记本电脑配置参数</strong> ？</span>
                    <h2>给您笔记本电脑配置信息<span> 最通俗易懂的科普 </span></h2>
                    <p>将笔记本配置参数翻译成您最能理解的自然语言形式，让您选购笔记本电脑时更加轻松，不再一头雾水。</p>
                </div>
            </div>

            <div class="single-slider">
                <!-- Slider Image -->
                <div class="slider-img">
                    <img th:src="@{assets/img/header-2.jpg}" alt="header2.jpg">
                </div>
                <div class="slider-text text-center">
                    <span class="welcome">有哪些<strong> 不当操作 </strong>会影响您的笔记本电脑?</span>
                    <h2>提供笔记本电脑使用过程中的<span> 不当操作 </span>，避免损害您的电脑</h2>
                    <p>您在使用笔记本电脑过程中可能会存在一些不当操作，使得电脑的性能飞快地降低，有可能还会影响电脑的寿命
                    ，所以我们为您提供一些最常见的不当操作，以供参考。</p>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Services Area Section -->
<section class="service-area top-margin">
    <div class="container">
        <div class="row">

            <!-- Service Icon area-->
            <div class="col-md-4 col-sm-4">
                <a th:href="@{/common_science}">
                    <div class="service-box">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <img th:src="@{assets/img/icon/webdev.png}" alt="icon">
                        </div>
                        <div class="service-text"><h2>配置科普<i class="fas fa-arrow-right"></i></h2></div>
                    </div>
                </a>
            </div>
            <!-- Service Icon area-->
            <div class="col-md-4 col-sm-4">
                <a th:href="@{/pick-and-choose}">
                    <div class="service-box">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <img th:src="@{assets/img/icon/application.png}" alt="icon">
                        </div>
                        <div class="service-text"><h2>选机推荐<i class="fas fa-arrow-right"></i></h2></div>
                    </div>
                </a>

            </div>
            <!-- Service Icon area-->
            <div class="col-md-4 col-sm-4">
                <a th:href="@{/recommend}">
                    <div class="service-box">
                        <!-- Service Icon -->
                        <div class="service-icon">
                            <img th:src="@{assets/img/icon/seo.png}" alt="icon">
                        </div>
                        <div class="service-text"><h2>使用建议<i class="fas fa-arrow-right"></i></h2></div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>

<!-- About Us Section -->
<section class="about-us padding-no-bottom">
    <div class="about-spin">
        <div class="container">
            <div class="row d-flex align-items-center">
                <!-- about Image -->
                <div class="col-md-7 about-img sm-mb-4">
                    <img th:src="@{assets/img/about-us/about-us.png}" alt="about-img"/>
                </div>
                <!-- about content-->
                <div class="col-md-5">

                    <div class="text-content">
                        <div class="section-title-3">
                            <h4>i5-1035G1、GTX 1650Ti 到底是什么意思？</h4>
                            <h1><strong>配置科普</strong>，填补您的知识盲区</h1>
                        </div>
                    </div>

                    <div class="cls">
                        <!-- single progress bar-->
                        <p style="text-indent: 2em;">选择笔记本电脑的时候总是纠结这些电脑配置参数 I5-10300H、i5-1035G1、
                            GTX 1650Ti 是什么意思？好像除了重量和外观，其他的都看不懂，不得不多方查找资料询问这些参数对
                            应的作用，但是查完资料，还是觉得似懂非懂。</p>
                        <p style="text-indent: 2em;">为了让用户更清楚自己选择的电脑的配置对应的性能，不会在选电脑的时候
                            盲目选择参数，直到电脑拿到手在使用过程中才发现它不太能满足自己的需求，我们将电脑最为重要的一
                            些硬件以及它的选购建议进行最通俗易懂的解释。然后用户在选购电脑的时候，对比各种电脑更能理解
                            电脑之间的区别。</p>
                    </div>
                    <!-- get a quote button-->
                    <div class="site-btn mb-5">
                        <a th:href="@{/common_science}" class="skill-btn">配置科普<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- Our Vision -->
<section class="our-vision-area  padding-no-bottom">
    <div class="container">

        <div class="row d-flex align-items-center">
            <!-- our vision content-->
            <div class="col-md-6 order-2 order-lg-1">
                <div class=" sm-pt-25">
                    <div class="section-title-3">
                        <h4>到底如何高效快速选择笔记本电脑？</h4>
                        <h1><strong>选机推荐</strong> ，给您最适合的笔记本电脑</h1>
                    </div>
                    <div class="cls">
                        <p style="text-indent: 2em;">在各大电商网站选择笔记本电脑的时候总是觉得眼花缭乱，要花很多时间去
                            筛选自己最想要的电脑。并且各个商家的广告总是放大产品的优点，忽略产品的缺点，有可能有些缺点是
                            用户完全无法接受的，而繁杂的售后评论很难让用户快速提炼出产品的优缺点。所以用户更需要客观全面
                            的评价和对比，帮助用户选购电脑。</p>
                        <p style="text-indent: 2em;">为了使我们推荐的电脑更精准地满足用户的需求，用户需要回答一些必要的
                            问题，然后我们推荐给他3-5款最符合要求的电脑，并且客观全面的分析各种电脑的优缺点，用户再自行
                            选择电脑。</p>
                    </div>
                    <!-- get a quote button-->
                    <div class="site-btn mb-5">
                        <a th:href="@{/pick-and-choose}" class="skill-btn">选机推荐<i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Image Section -->
            <div class="col-md-6 about-img order-1 order-lg-2">

                <img th:src="@{assets/img/about-us/about-details-2.jpg}" alt="our-vision-img">


            </div>

        </div>

    </div>

</section>

<!-- Our Mission -->
<section class="our-mission-area padding-no-bottom">
    <div class="container">

        <div class="row d-flex align-items-center">
            <!-- Image Section -->
            <div class="col-md-6 about-img">
                <img th:src="@{assets/img/about-us/about-details.jpg}" alt="our-vision-img">

            </div>
            <!-- our mission content-->
            <div class="col-md-6">
                <div class=" sm-pt-25">
                    <div class="section-title-3">
                        <h4>为什么我的电脑不耐用？</h4>
                        <h1><strong>使用建议</strong>，给您的电脑最好的保养</h1>
                    </div>
                    <div class="cls">
                        <!-- single progress bar-->
                        <p style="text-indent: 2em;">有的用户会有这样的问题：
                        <ul>
                            <li><i class="fa fa-circle"></i>&nbsp;新买的电脑实际内存比产品介绍上的内存小.
                            </li>
                            <li><i class="fa fa-circle"></i>&nbsp;新电脑没有用多久就明显觉得响应速度越来越慢.
                            </li>
                            <li><i class="fa fa-circle"></i>&nbsp;电脑没用多久就变得特别烫等等.
                            </li>
                        </ul>这些都是因为使用电脑过程中操作不当导致的。
                        </p>

                        <p style="text-indent: 2em;">而有一些用户使用自己的电脑很长时间以后，发觉电脑存放了太多东西已经
                            不够装了，而再买一台电脑可能不太划算，想要进行部分配件的升级。但是笔记本电脑的升级没有台式电脑
                            升级自由，有很多需要注意的地方。
                        </p>
                        <p style="text-indent: 2em;">为了解决用户的这些问题，让笔记本电脑得到更好的使用，我们给用户最好的使用建议，避免用户因为使用
                            不当导致电脑寿命减少，指导用户正确地升级电脑。</p>
                    </div>
                    <!-- get a quote button-->
                    <div class="site-btn mb-5">
                        <a th:href="@{/recommend}" class="skill-btn">使用建议<i class="fas fa-arrow-right"></i></a>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>

<!-- Team Section -->
<section class="team-member">
    <div class="container">
        <!-- Team Plan Header -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <div class="head-text">
                        <h3>开发团队介绍</h3>
                        <h1>开发团队成员</h1>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-2 col-sm-6 sm-mb-4">
                <div class="our-team">
                    <!-- Team Image -->
                    <img th:src="@{assets/img/team/team1.png}" alt="team-member">
                    <!-- Team Content -->
                    <div class="team-content">
                        <h3 class="title">Williamson</h3>
                        <span class="post">web developer</span>
                        <!-- Social Link -->
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-facebook"></i> </a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i> </a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i> </a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2 col-sm-6 sm-mb-4">
                <div class="our-team">
                    <!-- Team Image -->
                    <img th:src="@{assets/img/team/team1.png}" alt="team-member">
                    <!-- Team Content -->
                    <div class="team-content">
                        <h3 class="title">Williamson</h3>
                        <span class="post">web developer</span>
                        <!-- Social Link -->
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-facebook"></i> </a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i> </a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i> </a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2 col-sm-6 sm-mb-4">
                <div class="our-team">
                    <!-- Team Image -->
                    <img th:src="@{assets/img/team/team1.png}" alt="team-member">
                    <!-- Team Content -->
                    <div class="team-content">
                        <h3 class="title">Williamson</h3>
                        <span class="post">web developer</span>
                        <!-- Social Link -->
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-facebook"></i> </a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i> </a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i> </a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2 col-sm-6 sm-mb-4">
                <div class="our-team">
                    <!-- Team Image -->
                    <img th:src="@{assets/img/team/team2.png}" alt="team-member">
                    <!-- Team Content -->
                    <div class="team-content">
                        <h3 class="title">kristina</h3>
                        <span class="post">Web Designer</span>
                        <!-- Social Link -->
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-facebook"></i> </a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i> </a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i> </a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2 col-sm-6 sm-mb-4">
                <div class="our-team">
                    <!-- Team Image -->
                    <img th:src="@{assets/img/team/team3.png}" alt="team-member">
                    <!-- Team Content -->
                    <div class="team-content">
                        <h3 class="title">Olivia</h3>
                        <span class="post">Web Designer</span>
                        <!-- Social Link -->
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-facebook"></i> </a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i> </a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i> </a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2 col-sm-6 sm-mb-4">
                <div class="our-team">
                    <!-- Team Image -->
                    <img th:src="@{assets/img/team/team4.png}" alt="team-member">
                    <!-- Team Content -->
                    <div class="team-content">
                        <h3 class="title">Emma</h3>
                        <span class="post">Web Designer</span>
                        <!-- Social Link -->
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-facebook"></i> </a></li>
                            <li><a href="#"><i class="fab fa-google-plus"></i> </a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i> </a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i> </a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer bottom -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <!-- Copyright -->
                <div class="social-icon float-left">
                    <ul>

                        <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>


                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <!-- Copyright -->
                <div class="copyright float-right float-mob-left">
                    <p>© 2019 All Right Reserved By <a href="https://www.jq22.com/">jq22</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS here -->

<script th:src="@{assets/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/owl.carousel.min.js}"></script>
<script th:src="@{assets/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{assets/js/waypoints.min.js}"></script>
<script th:src="@{assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>


