<!doctype html>
<html lang="ZXX" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>一本满足-选机推荐</title>
    <meta name="description"
          content="Digital Marketer is a modern and beautiful HTML5 multipage agency template for the creative and professional marketer person or company. This template contains 10 different page layout with awesome design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/img/favicon.png}">
    <link rel="stylesheet" th:href="@{assets/css/bootstrap-4.2.1.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.theme.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/fontawesome-all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/css/meanmenu.css}">
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{assets/css/responsive.css}">

    <!--问卷步骤-->
    <link rel="stylesheet" th:href="@{step_to_step/css/style_1.css}">
    <!--选择图片-->
    <link rel="stylesheet" type="text/css" th:href="@{select_img/css/selectImg.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{select_img/css/iconfont.css}"/>
    <!-- 产品比较表-->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{compare_table/css/reset.css}"> <!-- CSS reset -->
    <link rel="stylesheet" th:href="@{compare_table/css/style_2.css}"> <!-- Gem style -->

</head>
<body>

<!-- ===================================================
    Loading Transition
==================================================== -->
<div id="loader-wrapper">
    <div id="loader">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<!-- Header Section -->
<header id="home">

    <div class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="main-menu">
                        <!-- Logo Area -->
                        <div class="logo-area">
                            <a th:href="@{/}" class="main-logo"><img th:src="@{assets/img/main-logo.png}"
                                                                     alt="main-logo.png"></a>
                            <a th:href="@{/}" class="logo-sticky d-none"><img th:src="@{assets/img/sticky-logo.png}"
                                                                              alt="sticky-logo.png"></a>
                        </div>

                        <!-- Main Menu Area -->
                        <div class="menu-area" id="mobile-menu">
                            <ul>
                                <!-- dropdown menu-area-->
                                <li><a th:href="@{/}">主页</a></li>
                                <li><a th:href="@{/common_science}">配置科普</a></li>
                                <li><a th:href="@{/pick-and-choose}">选机推荐</a></li>
                                <li><a th:href="@{/recommend}">使用建议</a></li>
                                <li><a th:href="@{/contact-us}">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu-->
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>

</header>


<!-- header banner Section -->
<section>
    <div class="about-us-header-image-area d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-9 m-auto">

                    <!-- Item -->
                    <div class="item">

                        <div class="others-page-title text-center">
                            <h1>选机推荐</h1>

                            <p class="pt-3">选择您主要应用场景，然后进行一些个性化的筛选，我们会为您推荐最合适您的笔记本电脑。</p>

                        </div>

                    </div>
                    <!-- // Item -->

                </div>

            </div>
        </div>
    </div>
</section>

<!-- Our Mission -->
<section class="our-mission-area padding-no-bottom" style="padding: 0 0 10px 0;">
    <div class="container">
        <div class="row">
            <div style="width: 100%;">
                <ul class="payment-wizard">
                    <li class="active">
                        <div class="wizard-heading">
                            1. 您使用笔记本电脑的主要场景？
                            <span class="icon-user"></span>
                        </div>
                        <div class="wizard-content">
                            <div class="selectImgDiv" id="selectItemDiv" style="margin: 0 160px;">
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/1.jpg}"/>
                                    </div>
                                    <div class="img_title">
                                        日常办公，写写WORD
                                    </div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/2.png}"/>
                                    </div>
                                    <div class="img_title">
                                        看视频、追剧、看电影
                                    </div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/3.png}"/>
                                    </div>
                                    <div class="img_title">
                                        玩游戏
                                    </div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/4.png}"/>
                                    </div>
                                    <div class="img_title">
                                        做直播
                                    </div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/5.png}"/>
                                    </div>
                                    <div class="img_title">
                                        5.画画
                                    </div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/6.png}"/>
                                    </div>
                                    <div class="img_title">
                                        进行音视频创作
                                    </div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/7.png}"/>
                                    </div>
                                    <div class="img_title">
                                        进行工业设计，3D建模
                                    </div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/7.png}"/>
                                    </div>
                                    <div class="img_title">
                                        其他
                                    </div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                            </div>

                            <button class="btn-green done" type="submit">Continue</button>
                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            2. 其他特殊需求（机动地显示一些，比如重量，游戏种类，游戏画质之类的）
                            <span class="icon-location"></span>
                        </div>
                        <div class="wizard-content">
                            <p>User address details section.</p>
                            <button class="btn-green done" type="submit">Continue</button>
                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            3. 您的专属推荐产品
                            <span class="icon-mode"></span>
                        </div>
                        <div class="wizard-content">
                            <p>Your payment methods detail section.</p>
                            <section id="cd-table">

                                <header class="cd-table-column">

                                    <h2>Features</h2>

                                    <ul>

                                        <li>Storage</li>

                                        <li>People</li>

                                        <li>Free trial</li>

                                        <li>Support</li>

                                        <li>Price</li>

                                    </ul>

                                </header>


                                <div class="cd-table-container">

                                    <div class="cd-table-wrapper">


                                        <div class="cd-table-column">

                                            <h2>Plan 1</h2>

                                            <ul>

                                                <li>1 GB</li>

                                                <li>2</li>

                                                <li>30 days</li>

                                                <li class="cd-unchecked"><span>No</span></li>

                                                <li>$9.99</li>

                                                <li><a class="cd-select" href="#0">Select</a></li>

                                            </ul>

                                        </div> <!-- cd-table-column -->


                                        <div class="cd-table-column">

                                            <h2>Plan 2</h2>

                                            <ul>

                                                <li>2 GB</li>

                                                <li>5</li>

                                                <li>30 days</li>

                                                <li class="cd-unchecked"><span>No</span></li>

                                                <li>$19.99</li>

                                                <li><a class="cd-select" href="#0">Select</a></li>

                                            </ul>

                                        </div> <!-- cd-table-column -->


                                        <div class="cd-table-column">

                                            <h2>Plan 3</h2>

                                            <ul>

                                                <li>5 GB</li>

                                                <li>10</li>

                                                <li>30 days</li>

                                                <li class="cd-checked"><span>Yes</span></li>

                                                <li>$29.99</li>

                                                <li><a class="cd-select" href="#0">Select</a></li>

                                            </ul>

                                        </div> <!-- cd-table-column -->


                                        <div class="cd-table-column">

                                            <h2>Plan 4</h2>

                                            <ul>

                                                <li>10 GB</li>

                                                <li>20</li>

                                                <li>30 days</li>

                                                <li class="cd-checked"><span>Yes</span></li>

                                                <li>$39.99</li>

                                                <li><a class="cd-select" href="#0">Select</a></li>

                                            </ul>

                                        </div> <!-- cd-table-column -->


                                        <div class="cd-table-column">

                                            <h2>Plan 5</h2>

                                            <ul>

                                                <li>20 GB</li>

                                                <li>Unlimited</li>

                                                <li>30 days</li>

                                                <li class="cd-checked"><span>Yes</span></li>

                                                <li>$49.99</li>

                                                <li><a class="cd-select" href="#0">Select</a></li>

                                            </ul>

                                        </div> <!-- cd-table-column -->


                                    </div> <!-- cd-table-wrapper -->

                                </div> <!-- cd-table-container -->


                                <em class="cd-scroll-right"></em>

                            </section> <!-- cd-table -->

                            <!--                            <button class="btn-green" type="submit">Done</button>-->
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- footer bottom -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <!-- Copyright -->
                <div class="social-icon float-left">
                    <ul>

                        <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>


                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <!-- Copyright -->
                <div class="copyright float-right float-mob-left">
                    <p>© 2019 All Right Reserved By <a href="https://www.jq22.com/">jq22</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS here -->

<script th:src="@{assets/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/owl.carousel.min.js}"></script>
<script th:src="@{assets/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{assets/js/waypoints.min.js}"></script>
<script th:src="@{assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{assets/js/main.js}"></script>

<script th:src="@{step_to_step/js/step_js.js}"></script>
<script th:src="@{select_img/js/selectImg.js}"></script>

<script th:src="@{compare_table/js/modernizr.js}"></script> <!-- Modernizr -->
<script th:src="@{compare_table/js/main.js}"></script>

</body>
</html>

