<!doctype html>
<html lang="ZXX" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>一本满足-选机推荐</title>
    <meta name="description"
          content="Digital Marketer is a modern and beautiful HTML5 multipage agency template for the creative and professional marketer person or company. This template contains 10 different page layout with awesome design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/img/favicon.png}">
    <link rel="stylesheet" th:href="@{assets/css/bootstrap-4.2.1.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.theme.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/fontawesome-all.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/css/meanmenu.css}">
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{assets/css/responsive.css}">

    <!--问卷步骤-->
    <link rel="stylesheet" th:href="@{step_to_step/css/style_step.css}">
    <!--选择图片-->
    <link rel="stylesheet" type="text/css" th:href="@{select_img/css/selectImg.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{select_img/css/iconfont.css}"/>
    <!-- 产品比较表-->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{compare_table/css/reset.css}"> <!-- CSS reset -->
    <link rel="stylesheet" th:href="@{compare_table/css/style_2.css}"> <!-- Gem style -->
    <!--导航选项卡-->
    <link rel="stylesheet" th:href="@{menubar/js/swiperTab/css/swiper-3.2.7.min.css}"/>
    <link rel="stylesheet" th:href="@{menubar/css/nav.css}"/>
    <!--价格选择-->
    <link rel="stylesheet" th:href="@{rangeslider/css/public.css}"/>
    <link rel="stylesheet" th:href="@{rangeslider/css/ion.rangeSlider.css}"/>
    <link rel="stylesheet" th:href="@{rangeslider/css/index.css}"/>
    <style>
        .visibilityHiden {
            visibility: hidden;
        }

    </style>
    <!--开关-->
    <link rel="stylesheet" th:href="@{turnon/css/normalize.min.css}">
    <link rel="stylesheet" th:href="@{turnon/css/style_turn.css}">

    <!-- 产品对比-->
    <link href="http://cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{all_goods/css/demo.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{all_goods/css/component.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{tooltip/tooltip.css}" />
    <!-- Modernizr is used for flexbox fallback -->
    <script th:src="@{all_goods/js/modernizr.custom.js}"></script>
    <style>
        *{margin: 0;padding:0;list-style: none;}
        body{background: #333;font-size: 14px;font-family:"微软雅黑"}
        a{color: #333;text-decoration: none;}
        .hidden{ display: none;}
        .pro_more{width: 800px;height: auto;margin:0 auto;overflow: hidden;text-align: left;background:#fff;padding:5px;}
        .pro_more ul.list{overflow: hidden;}
        .pro_more ul.list li{width: 150px;height: 150px;margin:5px;float: left;overflow: hidden;}
        .pro_more ul.list li img{width: 100%;height: 100%;}
        .pro_more ul.list p{text-align: center;padding: 10px;}
        .pro_more .more{overflow: hidden;padding:10px;text-align: center;}
        .pro_more .more a{display: block;width: 80px;padding:8px 0;color:#fff;margin:0 auto;background:#333;text-align:center;border-radius:3px;}
        .pro_more .more a:hover{text-decoration: none;background: white;color: black;}
    </style>

</head>
<body>

<!-- ===================================================
    Loading Transition
==================================================== -->
<div id="loader-wrapper">
    <div id="loader">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<!-- Header Section -->
<header id="home">

    <div class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="main-menu">
                        <!-- Logo Area -->
                        <div class="logo-area">
                            <a th:href="@{/}" class="main-logo"><img th:src="@{assets/img/main-logo.png}"
                                                                     alt="main-logo.png"></a>
                            <a th:href="@{/}" class="logo-sticky d-none"><img th:src="@{assets/img/sticky-logo.png}"
                                                                              alt="sticky-logo.png"></a>
                        </div>

                        <!-- Main Menu Area -->
                        <div class="menu-area" id="mobile-menu">
                            <ul>
                                <!-- dropdown menu-area-->
                                <li><a th:href="@{/}">主页</a></li>
                                <li><a th:href="@{/common_science}">配置科普</a></li>
                                <li><a th:href="@{/pick}">选机推荐</a></li>
                                <li><a th:href="@{/advices}">使用建议</a></li>
                                <li><a th:href="@{/contact-us}">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu-->
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>

</header>


<!-- header banner Section -->
<section>
    <div class="about-us-header-image-area d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-9 m-auto">

                    <!-- Item -->
                    <div class="item">

                        <div class="others-page-title text-center">
                            <h1>选&emsp;机&emsp;推&emsp;荐</h1>

                            <p class="pt-3">选择您主要应用场景，然后进行一些个性化的筛选，我们会为您推荐最合适您的笔记本电脑。</p>

                        </div>

                    </div>
                    <!-- // Item -->

                </div>

            </div>
        </div>
    </div>
</section>

<!-- Our Mission -->
<section class="our-mission-area padding-no-bottom" style="padding: 0 0 10px 0;">
    <div class="container">
        <div class="row">
            <div style="width: 100%;">
                <!--                <div class="swiper-container swiper1" id="swiper"></div>-->
                <ul class="payment-wizard" id="step_ul">
                    <li class="active">
                        <div class="wizard-heading">
                            您使用笔记本电脑的主要场景？
                            <span></span>
                        </div>
                        <div class="wizard-content">
                            <div class="selectImgDiv" id="main_uses" style="margin: 0 160px;">
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/1.jpg}"/>
                                    </div>
                                    <div class="img_title">文字办公/影音娱乐</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/3.png}"/>
                                    </div>
                                    <div class="img_title">游戏</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/4.png}"/>
                                    </div>
                                    <div class="img_title">生产力</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="site-btn mb-5">
                                <a class="skill-btn done" style="float: right;">下一个<i
                                        class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            游戏类型
                            <span></span>
                        </div>
                        <div class="wizard-content">
                            <div class="toggle toggle--neon">
                                <input type="checkbox" id="game_type" class="toggle--checkbox">
                                <label class="toggle--btn" for="game_type" data-label-on="网页游戏" data-label-off="客户端游戏"
                                       onclick="if($(this).prev('input').val() ==='on'){$(this).prev('input').val('off')}else {$(this).prev('input').val('on');}">
                                </label>
                            </div>
                            <div class="site-btn mb-5">
                                <a class="skill-btn done" style="float: right;">下一个<i
                                        class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            期望特质
                            <span></span>
                        </div>
                        <div class="wizard-content">
                            <div class="selectImgDiv" id="ordinary_trait" style="margin: 0 160px;">
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/1.jpg}"/>
                                    </div>
                                    <div class="img_title">超大的容量</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/3.png}"/>
                                    </div>
                                    <div class="img_title">准确的色彩</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/4.png}"/>
                                    </div>
                                    <div class="img_title">丰富的接口</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/4.png}"/>
                                    </div>
                                    <div class="img_title">非常持久的续航</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="site-btn mb-5">
                                <a class="skill-btn done" style="float: right;">下一个<i
                                        class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            主玩什么游戏
                            <span></span>
                        </div>
                        <div class="wizard-content">
                            <div class="selectImgDiv" id="game_example" style="margin: 0 160px;">
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/1.jpg}"/>
                                    </div>
                                    <div class="img_title">英雄联盟/cf</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/1.jpg}"/>
                                    </div>
                                    <div class="img_title">csgo/dota2</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/3.png}"/>
                                    </div>
                                    <div class="img_title">我的世界</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/3.png}"/>
                                    </div>
                                    <div class="img_title">守望先锋</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/3.png}"/>
                                    </div>
                                    <div class="img_title">绝地求生</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/4.png}"/>
                                    </div>
                                    <div class="img_title">gta5</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/4.png}"/>
                                    </div>
                                    <div class="img_title">使命召唤</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/4.png}"/>
                                    </div>
                                    <div class="img_title">刺客信条</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="site-btn mb-5">
                                <a class="skill-btn done" style="float: right;">下一个<i
                                        class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            游戏画质选择
                            <span></span>
                        </div>
                        <div class="wizard-content">
                            <div class="selectImgDiv" id="game_vision" style="margin: 0 160px;">
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/1.jpg}"/>
                                    </div>
                                    <div class="img_title">能玩即可</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/3.png}"/>
                                    </div>
                                    <div class="img_title">中特效</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/4.png}"/>
                                    </div>
                                    <div class="img_title">特效全开</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="site-btn mb-5">
                                <a class="skill-btn done" style="float: right;">下一个<i
                                        class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            生产力种类
                            <span></span>
                        </div>
                        <div class="wizard-content">
                            <div class="selectImgDiv" id="produce_type" style="margin: 0 160px;">
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/1.jpg}"/>
                                    </div>
                                    <div class="img_title">代码工作/数据处理</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/3.png}"/>
                                    </div>
                                    <div class="img_title">绘图/视频制作</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/4.png}"/>
                                    </div>
                                    <div class="img_title">工业设计</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="site-btn mb-5">
                                <a class="skill-btn done" style="float: right;">下一个<i
                                        class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            期望特质
                            <span></span>
                        </div>
                        <div class="wizard-content">
                            <div class="selectImgDiv" id="ordinary_trait_1" style="margin: 0 160px;">
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/1.jpg}"/>
                                    </div>
                                    <div class="img_title">准确的色彩</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/3.png}"/>
                                    </div>
                                    <div class="img_title">丰富的接口</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/4.png}"/>
                                    </div>
                                    <div class="img_title">非常持久的续航</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="site-btn mb-5">
                                <a class="skill-btn done" style="float: right;">下一个<i
                                        class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            便携需求
                            <span></span>
                        </div>
                        <div class="wizard-content">
                            <div class="toggle toggle--neon">
                                <input type="checkbox" id="weight_type" class="toggle--checkbox">
                                <label class="toggle--btn" for="weight_type" data-label-on="极致轻薄"
                                       data-label-off="无所谓"
                                       onclick="if($(this).prev('input').val() ==='on'){$(this).prev('input').val('off');}else {$(this).prev('input').val('on');}"></label>
                            </div>
                            <div class="site-btn mb-5">
                                <a class="skill-btn done" style="float: right;">下一个<i
                                        class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            价格需求
                            <span></span>
                        </div>
                        <div class="wizard-content">

                            <div class="navBox clearfix">
                                <!-- 月供 -->
                                <div class="selecteList_fisrt selectClass selecteList_month">
                                    <ul class="nmonthlyPayment_ul clearfix">
                                        <li data-nmonthlyPayment="" class="nmonthlyPayment_noLimit selected"><p>
                                            不限</p></li>
                                        <li data-nmonthlyPayment="0_2000"><p>2000以内</p></li>
                                        <li data-nmonthlyPayment="2000_3000"><p>2000-3000</p></li>
                                        <li data-nmonthlyPayment="3000_4000"><p>3000-4000</p></li>
                                        <li data-nmonthlyPayment="4000_5000"><p>4000-5000</p></li>
                                        <li data-nmonthlyPayment="5000_6000"><p>5000以上</p></li>
                                    </ul>
                                    <!-- 左右滑动 -->
                                    <div class="moveBox">
                                        <div class="moveTitle clearfix"><p class="fl">自定义月供<span class="wangCss">&nbsp;(元)</span>
                                        </p>
                                            <p class="changeNum bxyc fr">不限月供</p></div>
                                        <div class="moveContent">
                                            <input type="text" value="1111" class="range_2"/>
                                            <div class="moveScale">
                                                <p>0</p>
                                                <p class="nmonthlyPayment_p_1">1000</p>
                                                <p class="nmonthlyPayment_p_2">2000</p>
                                                <p class="nmonthlyPayment_p_3">3000</p>
                                                <p class="nmonthlyPayment_p_4">4000</p>
                                                <p class="nmonthlyPayment_p_5">5000</p>
                                                <p>不限</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                    &lt;!&ndash; 确定 &ndash;&gt;-->
                                    <!--                                    <div class="confirmButton confirmButton2" style="margin-top: 100px;">-->
                                    <!--                                        <a href="javascript:void(0);">确定</a>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>

                            <div class="site-btn mb-5">
                                <a class="skill-btn done" style="float: right;">下一个<i
                                        class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="wizard-heading">
                            您的专属推荐产品
                            <span class="icon-mode"></span>
                        </div>
                        <div class="wizard-content">
                            <!--产品展示-->
                            <!-- Compare basket -->
                            <div class="compare-basket">
                                <button class="action action--button action--compare"><i class="fa fa-check"></i><span class="action__text">对比</span></button>
                            </div>
                            <!-- Main view -->
                            <div class="view" id="cd-table">
                                <!-- Product grid -->
                                <section class="grid">
                                    <!-- Products -->
                                    <div class="hidden">
                                    <div class="product" th:each="laptop:${laptops}">
                                        <div class="product__info">
                                            <img class="product__image" th:src="${laptop.getPictures()}" alt="Product" />
                                            <h3 class="product__title" style="color: white" th:text="${laptop.getName()}">戴尔 灵越 5593 15(酷睿i7-1065G7/8GB/256GB/MX230)</h3>
                                            <br/>

                                            <span class=" highlight" >类型：<span th:text="${laptop.getType()}">主流轻薄本</span></span>
                                            <div class=" extra highlight" >上市时间：<span th:text="${laptop.getReleaseTime()}">1</span>

                                            </div>
                                            <span class="parameter extra highlight">CPU：<span class="cpu" th:text="${laptop.getCpu()}">Intel Core i7 1065G7</span></span>
                                            <span class="parameter extra highlight">显卡：<span th:text="${laptop.getGpu()}">NVIDIA GeForce MX230</span></span>
                                            <div class="parameter extra highlight" ><span>内存大小：</span><span class="memorySize" th:text="${laptop.getMemorySize()}">8</span><span>G</span>
                                                <a target="_blank" href="https://www.baidu.com">
                                                    <div class="help-tip">
                                                        <span class="memorySizeTips">This is the inline help tip! You can explain to your users what this section of your web app is about.</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <span class="parameter extra highlight">内存类型：<span th:text="${laptop.getMemoryGen()}">DDR4</span>&emsp;<span th:text="${laptop.getMemoryRate()}">DDR4</span>MHz</span>
                                            <div class="parameter extra highlight">硬盘大小：<span class="storage" th:text="${laptop.getStorage()}">500</span>G</div>
                                            <span class=" extra highlight">屏幕尺寸：<span th:text="${laptop.getScreenSize()}">15.6</span>寸</span>
                                            <span class=" extra highlight">分辨率：<span th:text="${laptop.getResolution()}">1920*1080</span></span>
                                            <span class=" extra highlight">屏幕色域：<span th:text="${laptop.getGamut()}">45</span>%NTSC</span>
                                            <span class=" extra highlight">屏幕刷新率：<span th:text="${laptop.getRefreshRate()}">15.6</span>Hz</span>
                                            <span class=" extra highlight">接口情况：USB*<span th:text="${laptop.getUsb()}">1</span>&emsp;Type-c*<span th:text="${laptop.getTypec()}">1</span>
                &emsp;雷电*<span th:text="${laptop.getThunderbolt()}">1</span>&emsp;显示接口：<span th:text="${laptop.getVideo()}">1</span>&emsp;网线接口：<span th:text="${laptop.getRj45()}">1</span></span>
                                            <span class=" extra highlight">重量：<span th:text="${laptop.getWeight()}">1.83</span>KG</span>
                                            <span class=" extra highlight">厚度：<span th:text="${laptop.getThickness()}">19</span>mm</span>
                                            <span class=" extra highlight">续航时间：<span th:text="${laptop.getDuration()}">9</span>h</span>
                                            <span class="product__price highlight">价格：<span th:text="${laptop.getPrice()}">4999</span></span>
                                        </div>
                                        <!--            <button class="action action&#45;&#45;button action&#45;&#45;buy"><i class="fa fa-shopping-cart"></i><span class="action__text"><a src="https://product.pconline.com.cn/notebook/dell/1276107.html">购买通道</a></span></button>-->
                                        <label class="action action--compare-add"><input class="check-hidden" type="checkbox" /><i class="fa fa-plus"></i><i class="fa fa-check"></i><span class="action__text action__text--invisible">加入对比</span></label>
                                    </div>
                                    </div>


                                </section>
                            </div><!-- /view -->
                            <!-- product compare wrapper -->
                            <section class="compare">
                                <button class="action action--close"><i class="fa fa-remove"></i><span class="action__text action__text--invisible">Close comparison overlay</span></button>
                            </section>
                            <div class="selectImgDiv" id="" style="margin: 0 160px;">
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/1.jpg}"/>
                                    </div>
                                    <div class="img_title">超大的容量</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/3.png}"/>
                                    </div>
                                    <div class="img_title">准确的色彩</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/4.png}"/>
                                    </div>
                                    <div class="img_title">丰富的接口</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="img_show">
                                        <img th:src="@{select_img/images/4.png}"/>
                                    </div>
                                    <div class="img_title">非常持久的续航</div>
                                    <div class="img_isCheck">
                                        <i class="iconfont icon-xuanzhong"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="site-btn mb-5">
                            <a class="skill-btn"><a href="javascript:;" onClick="pro_more.loadMore();">加载更多</a><i class="fas fa-arrow-right"></i></a>
                        </div>


                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- footer bottom -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <!-- Copyright -->
                <div class="social-icon float-left">
                    <ul>

                        <li><a href="#" target="_blank"><i class="fab fa-pinterest"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>


                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <!-- Copyright -->
                <div class="copyright float-right float-mob-left">
                    <p>© 2019 All Right Reserved By <a href="https://www.pro_more.com/">pro_more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS here -->

<script th:src="@{assets/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/owl.carousel.min.js}"></script>
<script th:src="@{assets/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{assets/js/waypoints.min.js}"></script>
<script th:src="@{assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{assets/js/main.js}"></script>

<script th:src="@{step_to_step/js/step_js.js}"></script>
<script th:src="@{select_img/js/selectImg.js}"></script>

<script th:src="@{compare_table/js/modernizr.js}"></script> <!-- Modernizr -->
<script th:src="@{compare_table/js/main.js}"></script>

<script th:src="@{menubar/js/swiperTab/js/swiper-3.4.0.jquery.min.js}"></script>
<script th:src="@{menubar/js/MenuBar.js}"></script>
<script th:src="@{menubar/js/swiperTab/js/swiper.js}"></script>
<script type="text/javascript">
    //引用组件 这里可以ajax接收后台数据
    var res = {};
    res.name = "主要用途";
    res.title = "您需要的电脑的主要用途？";
    res.selectimg = true;
    res.multinum = 3;
    this.id = "main_uses";
    res.href = "";
    res.children = [
        {
            "isDefault": 1,
            "src": "images/icontype1.png",
            "domain": "PB01",
            "id": "ordinary_trait",
            // "maptype": "CONTAINER",
            "name": "文字办公，影音娱乐",
            "title": "您需要的电脑主要特点？",
            "selectimg": true,
            "multinum": 4,
            // "oid": "com.imecms.container.Container:1001",
            "children": [{
                name: "超大的容量",
                src: "images/icontype1.png"
            }, {
                name: "准确的色彩",
                src: "images/icontype1.png"
            }, {
                name: "丰富的接口",
                src: "images/icontype1.png"
            }, {
                name: "非常持久的续航",
                src: "images/icontype1.png"
            }]
        }, {
            "path": "游戏",
            "title": "游戏类型",
            "src": "images/icontype1.png",
            "domain": "PB07",
            "id": "game_type",
            "maptype": "ST",
            "name": "游戏",
            "oid": "com.imecms.container.Folder:3837",
            "children": [{
                name: "网页游戏",
                title: "期望特质",
                id: "ordinary_trait",
                selectimg: true,
                multinum: 4,
                children: [{
                    name: "超大的容量",
                    src: "images/icontype1.png",
                }, {
                    name: "准确的色彩",
                    src: "images/icontype1.png",
                }, {
                    name: "丰富的接口",
                    src: "images/icontype1.png",
                }, {
                    name: "非常持久的续航",
                    src: "images/icontype1.png",
                }]
            }, {
                name: "客户端游戏",
                title: "主玩什么游戏",
                id: "game_example",
                selectimg: true,
                multinum: 4,
                children: [{
                    name: '英雄联盟/cf',
                    src: "images/icontype1.png",
                    title: "游戏画质选择",
                    id: "game_vision",
                    selectimg: true,
                    children: [
                        {
                            name: "能玩即可",
                            src: "images/icontype1.png"
                        },
                        {
                            name: "中特效",
                            src: "images/icontype1.png"
                        }, {
                            name: "特效全开",
                            src: "images/icontype1.png"
                        }]
                }, {
                    name: 'csgo/dota2',
                    src: "images/icontype1.png",
                    title: "游戏画质选择",
                    id: "game_vision",
                    selectimg: true,
                    children: [
                        {
                            name: "能玩即可",
                            src: "images/icontype1.png"
                        },
                        {
                            name: "中特效",
                            src: "images/icontype1.png"
                        }, {
                            name: "特效全开",
                            src: "images/icontype1.png"
                        }]
                }, {
                    name: '我的世界，守望先锋，绝地求生',
                    src: "images/icontype1.png",
                    title: "游戏画质选择",
                    id: "game_vision",
                    selectimg: true,
                    children: [
                        {
                            name: "能玩即可",
                            src: "images/icontype1.png"
                        },
                        {
                            name: "中特效",
                            src: "images/icontype1.png"
                        }, {
                            name: "特效全开",
                            src: "images/icontype1.png"
                        }]
                }, {
                    name: "gta5，使命召唤，刺客信条",
                    src: "images/icontype1.png",
                    title: "游戏画质选择",
                    id: "game_vision",
                    selectimg: true,
                    children: [
                        {
                            name: "能玩即可",
                            src: "images/icontype1.png"
                        },
                        {
                            name: "中特效",
                            src: "images/icontype1.png"
                        }, {
                            name: "特效全开",
                            src: "images/icontype1.png"
                        }]
                }]
            }]
        }, {
            "path": "生产力",
            "src": "images/icontype1.png",
            "domain": "PB07",
            "id": "produce_type",
            // "maptype": "ST",
            "name": "生产力",
            title: "生产力种类",
            "selectimg": true,
            "multinum": 3,
            // "oid": "com.imecms.container.Folder:3838",
            "children": [{
                name: "代码工作/数据处理",
                src: "images/icontype1.png",
                title: "期望特质",
                id: "ordinary_trait_1",
                selectimg: true,
                multinum: 3,
                children: [
                    {
                        name: "准确的色彩",
                        src: "images/icontype1.png",
                    }, {
                        name: "丰富的接口",
                        src: "images/icontype1.png",
                    }, {
                        name: "非常持久的续航",
                        src: "images/icontype1.png",
                    }]
            }, {
                name: "绘图/视频制作",
                src: "images/icontype1.png"
            }, {
                name: "工业设计",
                src: "images/icontype1.png"
            }]
        }];

    require(
        ['MenuBar'],
        function (MenuBar) {
            var menuBar = new MenuBar("#swiper", {
                data: res,
                addMenu: function () {
                    //动态添加menubar menu 触发该事件
                    console.log("动态render事件");
                    if (window.swiper) {
                        window.swiper.Swiper.update();
                    }
                },
                renderLeaf: function (menuItem) {
                    //点击叶子节点触发事件，与后台交互等等
                    console.log('您点击了叶子节点');
                    var data = menuItem.data;
                    if (typeof data == "string") {
                        data = JSON.parse(data);
                    }
                    console.log(data);
                    //支持动态添加menu事件,这里可以动态请求后台render数据 Example
                    if (data.domain == "PB07") {
                        var data1 = [{name: "新数据1", children: [{name: "测试数据1"}]}, {
                            name: "新数据2",
                            children: [{name: "测试数据2"}]
                        }];
                        //动态添加数据
                        menuItem.addSubItems(data1);
                    }
                }
            });
        }
    );
    //初始化导航条滑动等
    swiper.dataInit("#swiper");

</script>

<script th:src="@{rangeslider/js/ion.rangeSlider.js}"></script>
<script th:src="@{rangeslider/js/index.js}"></script>
<script th:src="@{all_goods/js/classie.js}"></script>
<script th:src="@{all_goods/js/main.js}"></script>

<!--加载产品-->
<script src="http://www.pro_more.com/jquery/jquery-1.10.2.js"></script>
<script>
    var _content = []; //临时存储div.products循环内容
    var pro_more = {
        _default:12, //默认显示产品个数
        _loading:4,  //每次点击按钮后加载的个数
        init:function(){
            var lis = $(".pro_more .hidden .product");
            $(".pro_more ul.list").html("");
            for(var n=0;n<pro_more._default;n++){
                lis.eq(n).appendTo(".pro_more ul.list");
            }
            $(".pro_more ul.list img").each(function(){
                $(this).attr('src',$(this).attr('realSrc'));
            })
            for(var i=pro_more._default;i<lis.length;i++){
                _content.push(lis.eq(i));
            }
            $(".pro_more .hidden").html("");
        },
        loadMore:function(){
            var mLis = $(".pro_more ul.list li").length;
            for(var i =0;i<pro_more._loading;i++){
                var target = _content.shift();
                if(!target){
                    $('.pro_more .more').html("<p>全部加载完毕...</p>");
                    break;
                }
                $(".pro_more ul.list").append(target);
                $(".pro_more ul.list img").eq(mLis+i).each(function(){
                    $(this).attr('src',$(this).attr('realSrc'));
                });
            }
        }
    }
    pro_more.init();
</script>
</body>
</html>

